*.pt
.ipynb_checkpoints/*
*.out
*.ipynb
*.json
IE_output/*
LEC_OnePass-f5cc6e53066572fe76bb0f930aad8940b3cdf597/*
output_all/*
generated_text/
GPT2_output/*
gpt_output/*
propbank-frames/*
output_Typing_OnePass/*
output/*
output_OnePass/*
output_event/*
intermediate/*
png/*
git_backup/*
propbank-frames/*
__pycache__/*n
